/* ===========================
   GENERAL PAGE STYLING
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
/* ===========================
   REPORT CONTAINER
=========================== */

.report-container {
    width: 1100px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
/* ===========================
   REPORT HEADER
=========================== */

.report-header{
    border-bottom:2px solid #dcdcdc;
    padding-bottom:20px;
}

/* ===========================
   TOP HEADER
=========================== */

.top-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}
/* ===========================
   LOGO
=========================== */

.logo {
    width: 100px;
    height: 100px;
    border: 2px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 8px;
    background: #fafafa;
}


/* ===========================
   COMPANY DETAILS
=========================== */

.company-details {
    flex: 1;
    text-align: center;
}

.company-details h1 {
    font-size: 40px;
    color: #1f4e79;
    margin-bottom: 8px;
}

.company-details h2 {
    font-size: 22px;
    color: #555;
    font-weight: 500;
}


/* ===========================
   FINANCIAL YEAR
=========================== */

.financial-year {
    width: 120px;
    height: 100px;
    border: 2px solid #d9d9d9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.financial-year p:first-child {
    font-size: 18px;
    font-weight: bold;
}

.financial-year p:last-child {
    font-size: 20px;
    color: #1f4e79;
    font-weight: bold;
}
/* ===========================
   DISTRIBUTOR DETAILS
=========================== */

.distributor-details{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px 60px;

    margin-top:25px;

}

.detail-item{

    display:flex;

}

.label{

    width:120px;

    font-weight:bold;

    color:#1f4e79;

}

.value{

    color:#333;

}